.smallimg{
    align-items: center;
    align-content: center;
}

.rating{
    height: 100px;

}

.price{
    font-size: 40px;
    font-style: italic;
    display: inline;
    margin-right: 130px;
}

.discout{
    display: inline;
    font-size: 30px;
    font-style: oblique;
    color: red;
}

.descreption {
    height: 250px;
}

.text-bg-light{
    border: 0;
}