/* body{
    margin: 0;
} */
.navbar{
    @media screen {
        min-width: 370px;  
        /* max-width: 1200px;       */
    }
    height: 100px;
}
.container{
    @media screen {
        min-width: 370px;
    }
    margin: 0 auto;
}
.main{
    margin-top: 115px;
}

.box{
    gap: 30px;
}
.smallimg{
    align-items: center;
    align-content: center;
}

.details{
    width: 22rem;
    padding-left: 0px;
    padding-right: 5px;
}

rating{
    height: 100px;

}

.price{
    font-size: 35px;
    font-style: italic;
    display: inline;
    margin-right: 90px;
    padding-left: 4px;
}

.discout{
    display: inline;
    font-size: 30px;
    font-style: oblique;
    color: red;
    padding-right: 5px;
}

.descreption {
    /* height: 250px; */
}

.text-bg-light{
    border: 0;
}