
.container{
    display: flex;
    flex-direction: column;
}

.bg-body-tertiary{
    /* height: 100px; */
    background-color: aqua !important;
    height: 80px;
}
.rowo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center;     */
}
.colo{
    display: flex;
    flex-direction: column;
    width: 30.5%;
}

.card-body{
    display: inline-block;
}
.card-text{
    display: inline-block;
}


h1{
    text-align: center;
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.desc{
    font-size: 15px;
    margin-bottom: 0;
}

.oldprice{
    text-decoration: line-through;
    color: brown;
    margin-bottom: 0;
}
.price{
    margin-bottom: 0;
}
.navigation{
    text-align: end;
    display: flex;
    flex-direction: column;
    display: inline !important;
    padding: 20px;
}

.view_cart{
    display: inline-block !important;
    padding-right: 20px;
    text-decoration: none;
}

.login{
    display: inline-block !important;
    padding-right: 20px;
    text-decoration: none;
}

.account{
    display: inline-block !important;
    text-decoration: none;

}